.card-space{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-bottom: 100px;
}

.card-space:hover,
.card-space:active {
    transform: translateY(-2px);
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.26);
}



.img-ski{
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 5px;
}